# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

# NuGet packages
packages/
*.nupkg
project.lock.json
project.fragment.lock.json
artifacts/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Mac files
.DS_Store
.AppleDouble
.LSOverride

# IDE
*.idea/
*.vscode/

# Test results
TestResults/
